@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <ul>
        <li>
            <a href="@Url.Action("Index","WebRTC")" target="_blank">WebRTC</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Upload")" target="_blank">Upload</a>
        </li>
        <li>
            <a href="@Url.Action("Index","MQTTAndMedia")" target="_blank">MQTTAndMedia</a>
        </li>

    </ul>
    <ul title="Janus">
        <li>
            <a href="@Url.Action("Index","Janus")" target="_blank">Janus</a>
        </li>
        <li>
            <a href="@Url.Action("RoomTest","Janus")" target="_blank">Janus-room</a>
        </li>
        <li>
            <a href="@Url.Action("RoomNoRecorder","Janus")" target="_blank">Janus-room-noRecord</a>
        </li>
        <li>
            <a href="@Url.Action("RoomOnlySubscribeTest","Janus")" target="_blank">Janus-room-onlySubscribe</a>
        </li>
        <li>
            <a href="@Url.Action("RoomLiveTest","Janus")" target="_blank">Janus-room-live</a>
        </li>
        <li>
            <a href="http://62.234.105.58:8001" target="_blank">Janus-room-videoList</a>
        </li>
    </ul>
    <ul title="RTCMultiConnection">
        <li>
            <a href="@Url.Action("Index","RTCMultiConnection")" target="_blank">RTCMultiConnection-Video</a>
        </li>
        <li>
            <a href="@Url.Action("ScreenShare","RTCMultiConnection")" target="_blank">RTCMultiConnection-Screen-Share</a>
        </li>
        <li>
            <a href="@Url.Action("SocketDotIo","RTCMultiConnection")" target="_blank">Socket.IO_Test</a>
        </li>
    </ul>
    <ul title="研讨驾驶舱demo">
        <li>
            <a href="@Url.Action("Index","Discussion")" target="_blank">研讨驾驶舱demo</a>
        </li>
        <li>
            <a href="@Url.Action("Detail","Discussion")" target="_blank">研讨驾驶舱详情页</a>
        </li>
    </ul>

    <ul title="登录、注册">
        <li>
            <a href="@Url.Action("Login","Account")" target="_blank">登录</a>
        </li>
        <li>
            <a href="@Url.Action("Register","Account")" target="_blank">注册</a>
        </li>
    </ul>

    <ul title="TRTC">
        <li>
            <a href="@Url.Action("Index","TRTC")" target="_blank">TRTC</a>
        </li>
    </ul>
</div>
